---

const pages = [
	{
		href: '/01_fade',
		txt: '01_fade'
	},
	{
		href: '/02_split',
		txt: '02_split'
	},
	{
		href: '/03_noise',
		txt: '03_noise'
	},
	{
		href: '/04_split-noise',
		txt: '04_split-noise'
	},
	{
		href: '/05_split-noise-burn',
		txt: '05_split-noise-burn'
	},
	{
		href: '/06_noise-burn',
		txt: '06_noise-burn'
	},
]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Transition</h1>
		<ol>
			{
				pages.map(page => {
					return <li><a href={`/05_img-transition${page.href}`}>{page.txt}</a></li>
				})
			}
		</ol>
	</body>
</html>
