---

const pages = [
{
		href: '/01_fit-perspective',
		txt: '01_fit-perspective'
	},
	{
		href: '/02_light',
		txt: '02_light'
	},
	// {
	// 	href: '/02_light',
	// 	txt: '02_light'
	// },
	{
		href: '/04_mouse-effect',
		txt: '04_mouse-effect'
	},
	{
		href: '/05_img-transition',
		txt: '05_img-transition'
	}
]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>WebGL Survey</title>
	</head>
	<body>
		<h1>WebGL Survey</h1>
		<ol>
			{
				pages.map(page => {
					return <li><a href={`${page.href}`}>{page.txt}</a></li>
				})
			}
		</ol>
	</body>
</html>
