---

const pages = [
{
		href: '/01_directional-light',
		txt: '01_directional-light'
	},
	{
		href: '/02_ambient-light',
		txt: '02_ambient-light'
	},
	{
		href: '/03_point-light',
		txt: '03_point-light'
	},
	{
		href: '/04_spot-light',
		txt: '04_spot-light'
	}
]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Light</h1>
		<ol>
			{
				pages.map(page => {
					return <li><a href={`./02_light${page.href}`}>{page.txt}</a></li>
				})
			}
		</ol>
	</body>
</html>
